<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/img1.png" alt="" class="img-thumbnail rounded-circle" width="200" height="200">
            <h1 class="display-4">Pahrurozi</h1>
            <p class="lead">Student | Progammer</p>
        </div>
    </div>
</div>